.table--medals {
  margin-bottom: 1em;
  width: 100%;
}

.table--medals th {
  background: #ccc;
}

.table--medals-sortable-th {
  cursor: pointer;
  user-select: none  
}

.form--new-country input {
  border: 1px solid #D5D5D5;
	border-radius: 3px;
  display: inline-block;
	padding: 7px 12px;
}

.form--new-country button {
	border: 1px solid #D5D5D5;
  border-radius: 3px;
  display: inline-block;
	padding: 7px 12px;
}
